@import "../styles/index.scss";

.payment-container {
  margin: 15px auto;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  color: $black;
  width: 343px;
  & p {
    margin-bottom: 15px;
    & span {
      color: $lightblue;
    }
  }
}
