@import "../../styles/index.scss";

.plan-container {
  background-color: $white;
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-bottom: 15px;
  height: 120px;
  &__top {
    display: flex;
    margin: 14px;

    & h5 {
      letter-spacing: -0.4px;
      $color: $grey;
    }

    & .selected {
      display: flex;
      background: #ffe082;
      border-radius: 6px;
      font-weight: 700;
      font-size: 12px;
      color: $black;
      margin: 0px 8px;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;
    }
  }
  &__mid {
    display: flex;
    margin: 0 14px;
    justify-content: space-between;
    line-height: 23px;
    align-items: center;
    & p {
      font-weight: 700;
      font-size: 24px;
      color: $grey;
    }
    & span {
      font-weight: 400;
      font-size: 14px;
      color: $grey;
    }
  }
  &__bot {
    margin: 14px;
    margin-top: 10px;
    & p {
      font-size: 14px;
      line-height: 20px;
      & span:first-of-type {
        color: $grey;
        font-weight: 400;
        text-decoration-line: line-through;
      }
      & span:last-of-type {
        font-weight: 700;
        color: orange;
      }
    }
  }
}

.block {
  display: none;
}
