@import "../../styles/index.scss";

.head-line h1 {
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  margin: 0;
  color: $black;
  height: 72px;
  margin-bottom: 20px;
}

.head-line h3 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $grey;
}
