.body-container {
  margin: 15px;
  margin-bottom: 60px;
  max-width: 480px;
}
.dekstop-version {
  display: block;
}
@media (min-width: 520px) {
  .body-container {
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .top-section {
    display: flex;
    margin-left: -125px;
  }
  .main-container {
    margin-left: 15px;
  }
  .head-line h3 {
    margin-top: 17px;
    margin-bottom: 36px;
    margin-left: 18px;
  }
  .mobile-version {
    display: none;
  }
  .card-info-container {
    display: flex;
    margin-left: -332px;
  }
  .head-line h1 {
    margin-left: -120px;
    font-size: 40px;
    width: 730px;
  }
  .dekstop-month-plan {
    width: 352px;
  }
  .advertisment-container {
    width: 339px;
  }
}
